           


/* 爱心助农部分 */

.lovef {
    margin: 65px auto;
}

.lovef h2 {
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 3px;
    color: #404040;
    background: url(../img/public/leaf1.png) center no-repeat;
    text-align: center;
    margin-bottom: 25px;
}

.lovef p {
    font-size: 18px;
    letter-spacing: 2px;
    color: #666666;
    text-align: center;
}

.lovef_img {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 219px;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
}

.lovef_img img {
    transition: all 1.5s;
}

.lovef_img img:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 13px 3px rgba(87, 87, 87, 0.418);
}

.lovef .lovef_btn {
    width: 272px;
    height: 46px;
    background-color: #3a880e;
    border-radius: 46px;
    text-align: center;
    line-height: 46px;
    margin: 30px auto;
    font-size: 30px;
    letter-spacing: 3px;
    color: #ffffff;
}
/* 产品展示部分 */

.showpro h2 {
    background: url(../img/public/leaf1.png) center no-repeat;
    font-size: 32px;
    letter-spacing: 3px;
    color: #404040;
    text-align: center;
    margin-top: 65px;
}

.showpro .showpro-img {
    width: 1072px;
    height: 206px;
    margin: 36px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showpro .showpro-img img {
    width: 124px;
    background-color: #ffffff;
    margin: 0 5px;
    transition: all .5s;
}

.showpro .showpro-img .showpro-img-single img:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 13px 3px rgba(87, 87, 87, 0.418);
}

.showpro-img {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    color: #404040;
}

   /* banner部分 */

.background {
    position: relative;
    z-index: 20;
}

.centerbox {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.background .contain_left_sigle {
    width: 224px;
    height: 90px;
    background-color: rgb(58, 136, 14, .68);
}

.span {
    font-size: 10px;
}

.background .contain_left_sigle a {
    display: block;
    width: 224px;
    height: 90px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 24px;
}

.background .contain_left_sigle a p {
    font-size: 10px;
}

.background .contain_left_sigle a:hover {
    background-color: white;
    color: #3a880e;
}

.contain_right_sigle {
    width: 283px;
    height: 181px;
    padding-top: 35px;
    padding-left: 28px;
}

.contain_right .first {
    background-image: url(../img/index/hot/1.png);
}

.contain_right .second {
    background-image: url(../img/index/hot/2.png);
}

.contain_right .third {
    background-image: url(../img/index/hot/3.png);
}

.contain_right_sigle h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 27px;
    color: #353535;
}

.slides-box {
    width: 100%;
    height: 532px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
/* banner轮播图部分 */

.slides {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    float: left;
}

.slides li {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.slides li img {
    display: block;
    width: 100%;
    margin: auto;
}
/* banner样式 */

.prev,
.next {
    position: absolute;
    z-index: 99;
    top: 50%;
    margin-top: -40px;
    left: 0;
    height: 70px;
    width: 30px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    opacity: .5;
}

.prev:hover,
.next:hover {
    opacity: .7;
}

.prev {
    background-image: url("data:image/gif;");
}

.next {
    left: auto;
    right: 0;
    background-image: url("data:image/gif;");
}    

  body .consulting h2 {
    background: url(../img/public/leaf1.png) center no-repeat;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 3px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
  }
  body .news {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
  }

.footer-bar {
    display: flex;
    justify-content: flex-end;
}

.topbar {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    line-height: 40px;
}




/* 轮播图 */
.banner_box {
    width: 1226px;
    height: 460px;
    /* position: absolute; */
    border: 1px solid royalblue;
}
 
.s li {
    width: 1226px;
    height: 460px;
    float: left;
}

#guang{
    transition: all 0.5s;
}
 
.banner_box .num {
    width: 1226px;
    height: 20px;
    /* background-color: #ff6700; */
    bottom: 10px;
    position: absolute;
    text-align: center;
}
 
.banner_box .num span {
    width: 15px;
    height: 15px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin: 0 12px;
    cursor: pointer;
}
 
.banner_box .prev {
    width: 30px;
    height: 70px;
    /* background-color: rgba(0, 255, 128, 0.423); */
    top: 50%;
    margin-top: -35px;
    left: 235px;
    position: absolute;
    transition: all 0.3s;
    border-radius: 15px 15px;
}
 
.banner_box .next {
    width: 30px;
    height: 70px;
    /* background-color: rgba(0, 255, 128, 0.423); */
    top: 50%;
    right: 0;
    margin-top: -35px;
    position: absolute;
    transition: all 0.5s;
    border-radius: 15px 15px;
}
 
.banner_box .next:hover,
.banner_box .prev:hover {
    background-color: springgreen;
    color: #ff6700;
}
 
.banner_box .prev i,
.banner_box .next i {
    font-size: 25px;
    line-height: 70px;
    color: rgba(219, 102, 0, 0.49);
    font-weight: 900;
    padding: 0 3px;
}
 
.banner_box .num span:hover {
    background-color: salmon;
}
 
.banner_box .num span.on {
    width: 30px;
    height: 20px;
    background-color: tomato;
}